@import "tailwindcss";

body {
    background-color: #F5F5F4;
    font-family :Arial, 'Helvetica', sans-serif;
}

.data {
    font-size: 12px;
    line-height : 22.8px;
    letter-spacing: 1.32px;
    margin : 0;
    font-weight: 100;
    color : rgb(47, 47, 47);
    margin-left: 25px;

}

.data1 {
    font-size: 11px;
    line-height : 20.8px;
    letter-spacing: 1.12px;
    margin : 0;
    font-weight: 100;
    color : rgb(47, 47, 47);
    margin-left: 25px;

}

.Scroll::-webkit-scrollbar {
    display: none; 
}

html {
  scroll-behavior: smooth;
}


/* We use it to remove the spinner (arrow button) for input (type - number) */
.no-spinner::-webkit-inner-spin-button, 
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}
